<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Detalle del producto'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= product.name %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/products/<%= product.images[0].file %>" alt="product image" class="product-detail-img">
					<div class="flex">
						<% product.images.forEach(image => { %>
							<img class="mx-2" src="/images/products/<%= image.file %>" alt="product image" style="width:100px;">
						<% }) %>
						<img src="" alt="">
					</div>
					<p class="product-detail-description">
						<%= product.description %> 
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.name %> </h2>
						<% if (product.discount > 0) { %>
							<p class="product-detail-price small">
								<span>$<%= product.price %></span>
								/
								<b><%= product.discount %>% OFF</b>
							</p>
							<p class="product-detail-price">
								$<%= toThousand(product.price - (product.price * product.discount) /100) %>
							</p>
						<% }else{ %>
							
							<p class="product-detail-price">
								$<%= toThousand(product.price) %>
							</p>
							<% } %>
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<button class="btn btn-primary" onclick="addCartItem('<%=product.id%>')">AGREGAR AL CARRITO</button>
						<hr>

						<a href="/products/edit/<%= product.id %>" class="btn btn-success">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" style="cursor: pointer;" class="btn btn-danger">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>