<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/products/store" method="POST" enctype="multipart/form-data" id="formAddProduct">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto *:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-control form-control-lg py-3 ">
						<p id="nameMsg"></p>
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto *:</label>
						<input type="number" id="price" name="price" placeholder="Ej: 5678"class="form-control form-control-lg py-3 ">
						<p id="priceMsg"></p>

					</div>
					<div class="col-12 col-md-3">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" value="0" name="discount" placeholder="Ej: 15" class="form-control form-control-lg py-3 ">
					</div>
					<div class="col-12 col-md-3">
						<label for="finalPrice" class="form-label">Precio Final:</label>
						<input type="text" id="finalPrice" name="finalPrice" value="0" class="form-control form-control-lg py-3 ">
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría *:</label>
						<select name="categoryId" id="category" class="form-control form-select-lg py-3">
							<option value="" hidden selected>Elegí la categoría</option>
							<% categories.forEach(({id,name}) => { %>
							 <option value="<%= id %>"><%= name %></option>
							<% }) %>
						</select>
						<p id="categoryMsg"></p>
					</div>
					<div class="col-12 col-md-3">
						<div class="card" style="height:180px">
							<img src="" alt="" height="100%" id="image1Prev" style="object-fit: contain;">
						</div>
					</div>
					<div class="col-12 col-md-3 border-1 rounded">
						<div class="card" style="height:180px">
							<img src="" alt="" height="100%" id="image2Prev" style="object-fit: contain;">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label for="description" class="form-label">Descripción *:</label>
						<textarea name="description" id="description" class="form-control form-control-lg py-3" style="resize: none;" rows="5"></textarea>
						<p id="descriptionInfo" hidden><span id="numberCharacters"></span> disponibles</p>
						<p id="descriptionMsg"></p>

					</div>
					<div class="col-12 col-md-3">
						<label for="image1" class="btn btn-secondary w-100 py-4 fs-3">Imagen principal *</label>
						<input type="file" hidden name="image1" id="image1">
					</div>
					<div class="col-12 col-md-3">
						<label for="image2" class="btn btn-secondary w-100 py-4 fs-3">Imagen secundaria</label>
						<input type="file" hidden name="image2" id="image2">
					</div>
					<div class="col-12 col-md-6">
						<button type="submit" class="btn btn-primary w-100 py-4 fs-3" id="btn-submit" disabled>Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
	<%- include('partials/scripts') %>


	<script src="/js/product-create-form.js"></script>
</body>	
</html>