<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head',{
    title : 'Registrate'
  }) %>
  <body>
    <%- include('partials/headerNavbar') %>

    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Registrate</h2>
        </div>
          <div class="col-12">
                <form id="form-register" action="" method="POST" >

                  <div class="row product-detail">

                      <div class="col-12 col-md-6">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text"
                        class=" form-control py-3 <%= locals.errors && errors.name ? 'is-invalid' : null %> " 
                        value="<%= locals.old && old.name ? old.name : null %>"
                        id="name"  name="name" title="El nombre debe tener más de dos caracteres"/>
                        <small class="text-danger"><%= locals.errors && errors.name ? errors.name.msg : null %> </small>
                        <small id="errorNombre" class="text-danger"></small>
                      </div>
                      <div class="col-12 col-md-6">
                        <label for="surname" class="form-label">Apellido</label>
                        <input type="text"
                        value="<%= locals.old && old.surname ? old.surname : null %>"
                        class=" form-control py-3 <%= locals.errors && errors.surname ? 'is-invalid' : null %>"
                        id="surname" name="surname" title="El apellido debe tener más de dos caracteres"/>
                        <small class="text-danger"><%= locals.errors && errors.surname ? errors.surname.msg : null %></small>
                        <small id="errorApellido" class="text-danger"></small>
                      </div>
                      <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email"
                        value="<%= locals.old && old.email ? old.email : null %>"
                        class=" form-control py-3 <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        id="email" name="email"/>
                        <small class="text-danger"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
                        <small id="errorEmail" class="text-danger"></small>
                      </div>
                    <div class="col-12 col-md-6">
                        <label for="pass" class="form-label">Contraseña</label>
                        <div class="d-flex  mb-3">
                          
                          <input type="password"
                          class=" py-3 form-control <%= locals.errors && errors.pass ? 'is-invalid' : null %>" name="pass" id="pass"/>
                            <span class="input-group-text" style="cursor: pointer;" id="btn-show-pass"><i class="fa-solid fa-eye-slash" ></i></span>
                        </div>

                     
                        <small class="text-danger"><%= locals.errors && errors.pass ? errors.pass.msg : null %></small>
                        <small id="errorPass" class="text-danger"></small>
                        <ul id="msgPass" hidden>
                          <li id="mayu">Una mayúscula</li>
                          <li id="minu">Un minúscula</li>
                          <li id="num">Un número</li>
                          <li id="esp">Un caracter especial ($@$!%*?&)</li>
                          <li id="min">Mínimo 6 caracteres</li>
                          <li id="max">Máximo 8 caracteres</li>
                        </ul>
                      </div>

                      <div class="col-12 col-md-6">
                        <label for="pass2" class="form-label">Reingresar contraseña</label>
                        <input type="password"
                        class=" form-control py-3 <%= locals.errors && errors.pass2 ? 'is-invalid' : null %>"
                        id="pass2" name="pass2"/>
                        <small id="errorPass2" class= "text-danger"><%= locals.errors && errors.pass2 ? errors.pass2.msg : null %></small>

                      </div>
                      <div class="col-12 col-md-6">
                        <div class="d-flex justify-content-center">
                          <div class="form-check d-flex align-items-center">
                            <input name="bases" class="form-check-input <%= locals.errors && errors.bases ? 'is-invalid' : null %>" type="checkbox" value="" id="terms" style="width:30px; height:30px;">
                            <label class="form-check-label ms-2" for="terms">
                              Acepto las bases y condiciones
                            </label>
                          
                          </div>
                        </div>
                    
                        <p id="errorTerms" class= "text-danger text-center"></p>

                        <p class= "text-danger text-center"><%= locals.errors && errors.bases ? errors.bases.msg : null %></p>



                        </div>
                        <div class="col-12 col-md-6 mt-4">

                          <button type="submit" class="buy-now-button">
                            Registrarse
                          </button>
                          <span id="msgError" class="text-danger"></span>

                         
                        </div>

                    </div>
                    
                      </div>
                      

                      </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="/js/userRegister.js"></script>
  </body>
</html>
