<!DOCTYPE html>
<html lang="es">
<%- include('partials/head',{ title : 'Login' }) %>

    <body>
        <%- include('partials/headerNavbar') %>

            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Ingresá</h2>
                    </div>
                </div>

                <div class="col-12">
                    <div class="contenido">
                        <div class="row">
                            <div class="col-12 col-md-4 d-flex justify-content-center p-5">
                                <img src="/images/logo-mercado-liebre.svg" alt="">
                            </div>
                            <div class="col-12 col-md-8 p-5">
                                <form action="/users/login" method="POST" id="form-login">
                                    <div class="row product-detail">

                                        <div class="col-12 col-md-6">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email"
                                                class="form-input form-control"
                                                id="email" aria-describedby="emailHelp" name="email">
                                            <small class="text-danger" id="error-email">
                                                <%= locals.errors && errors.email ? errors.email.msg : null %>
                                            </small>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label for="pass" class="form-label">Contraseña</label>
                                            <input type="password"
                                                class="form-input form-control"
                                                id="pass" name="pass">
                                            <small class="text-danger" id="error-pass">
                                                <%= locals.errors && errors.pass ? errors.pass.msg : null %>
                                            </small>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                    name="remember" style="width: 30px; height:30px">
                                                <label class="form-check-label form-label ms-2"
                                                    for="exampleCheck1">Recordarme</label>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <button type="submit" class="buy-now-button">Iniciar sesión</button>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/footer') %>
                <script src="/js/login.js"></script>
    </body>

</html>